<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
    <div class="container my-1">
      <a class="navbar-brand fw-bolder fs-3" href="/">My First Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-2 ms-auto mx-auto-md fs-5">
        <li class="nav-item">
          <a href="/" class="nav-link" id="page-home">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link" id="page-about">About</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link" id="page-contact">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/compose" class="nav-link" id="page-compose">Compose</a>
        </li>
      </ul>
    </div>
</nav>